@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-veryblack: #111111;
  --bg-black: #2f2f2f;
  --bg-grey: #b7b7b7;
  --bg-lightgrey: #d6d5d5;
  --bg-darkgrey: #868686;
  --bg-white: #eaeaea;
  --bg-blue: #6ab1c1;
  --bg-darkblue: #486a70;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
}

body, #root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COMMON STYLES */
.flex-row,.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

button, input, textarea, .upload-image, .Sidebar > button {
  font: inherit;
  border-radius: 0.2em;
  transition: 0.2s ease;
}

button:hover, input[type='color'], .upload-image {
  cursor: pointer;
}

button:hover, .Sidebar > button:hover {
  background-color: var(--bg-lightgrey);
  filter: drop-shadow(0 0 0.1em rgb(0, 0, 0));
}

/* INDIVIDUAL STYLES */
.Header {
  width: 100%;
  background-color: var(--bg-black);
  color:white;
  height: 6vh;
  min-height: 6vh;
  filter: drop-shadow(0 0 0.2em black);
  font-size: 1.5em;
  font-weight: bold;
}

.Sidebar {
  height: 100%;
  font-size: 1.2em;
  background-color: var(--bg-blue);
  border-left: 0.2em solid var(--bg-darkblue);
  padding: 1.5%;
  gap: calc(0.5rem + 2px);
  justify-content: flex-start;
  box-sizing: border-box;
  width: 20vw;
}

.Sidebar > button {
  min-width: 40%;
  padding: 3%;
  font: inherit;
  background-color: var(--bg-white);
  color: var(--bg-veryblack);
}

.Sidebar > div {
  width: 100%;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  box-sizing: border-box;
}

.Sidebar > p {
  border: 0.1em solid var(--bg-darkblue);
  border-radius: 0.5em;
  background-color: var(--bg-white);
  color: var(--bg-black);
  padding: 1%;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.3em;
  filter: drop-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.500));
}

.main {
  flex-grow: 1;
  width: 100%;
}

.portfolio, .preview {
  background-color: var(--bg-white);
  flex-grow: 1;
  height: 100%;
  padding: 1%;
  box-sizing: border-box;
  color: var(--bg-veryblack);
}

.preview {
  padding: 0;
}

.portfolio > div {
  margin-bottom: 1%;
  padding: 1%;
  border-radius: 1em;
  filter: drop-shadow(0 0.2em 0.1em rgba(0, 0, 0, 0.750));
}

.PortfolioHead {
  gap: 2rem;
  background-color: var(--bg-grey);
}

.upload-image {
  background-color: white;
  width: 10%;
  aspect-ratio: 1;
  position: relative;
}

.upload-image > .image-placeholder {
  height: 100%;
}

.image-preview {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.PortfolioHead > div:first-of-type {
  width: 40%;
  height: 100%;
  justify-content: space-around;
}

.PortfolioHead > div:first-of-type > * {
  width: 100%;
  margin-bottom: 1%;
  padding: 0.5rem;
}

.PortfolioHead > div:last-of-type {
  width: 20%;
  height: 100%;
  justify-content: space-around;
}

.PortfolioHead > div:last-of-type > input {
  width: 100%;
  margin-bottom: 1%;
  padding: 0.4rem;
}

#bio {
  resize: vertical;
}

input[type="file"] { 
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.PortfolioSegment,.PortfolioSkill {
  background-color: var(--bg-grey);
  position: relative;
}

.PortfolioSegment > div:first-of-type,.PortfolioSkill > p:first-of-type{
  margin-bottom: 2%;
  width: 100%;
  border-bottom: 0.1em solid black;
  font-size: 2em;
  text-align: left;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1% 0.2% 1%;
}

.PortfolioSegment > div:first-of-type > p {
  max-width: 60%;
}

.PortfolioSegment > div:first-of-type > button {
  padding: 0.5rem;
  font-size: 1rem;
  width: fit-content;
  justify-content: space-evenly;
}

.PortfolioSegment > div:first-of-type > button > svg {
  margin-right: 0.3em;
}

.PortfolioTextbox {
  margin-bottom: 4%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5% 1%;
}

.PortfolioTextbox > input {
  padding: 0.5rem;
  grid-column: span 3;
}

.PortfolioTextbox > textarea {
  resize: none;
  padding: 0.5rem;
  grid-column: 1 / span 6;
}

.PortfolioTextbox > button {
  grid-column: 3 / span 2;
  width: fit-content;
  padding: 0.5rem;
  justify-self: center;
}

.PortfolioSkill > div:first-of-type {
  width: 100%;
  gap:1%;
}

.PortfolioSkill > div:first-of-type > * {
  padding: 0.5rem;
  margin-bottom: 1%;
}

.delete-skill {
  position: relative;
  left: 2rem;
  padding: 0.5rem;
}

.PortfolioSkill > div:last-of-type {
  width: 90%;
  text-align: left;
  font-size: 1.3em;
}

.PortfolioSkill > div:last-of-type > * {
  margin-bottom: 0.5%;
}

.previewSegment > p {
  margin-right: 10px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}