@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
}

body, #root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COMMON STYLES */
.flex-row,.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/* INDIVIDUAL STYLES */
.Header {
  width: 100%;
  background-color: yellow;
  padding: 1% 2% 1% 2%;
}

.Sidebar {
  height: 100%;
  font-size: 1.2em;
  background-color: pink;
  padding: 1.5%;
  gap: calc(0.5rem + 2px);
  justify-content: flex-start;
  box-sizing: border-box;
}

.Sidebar > p {
  background-color: white;
  padding: 1%;
  box-sizing: border-box;
  width: 100%;
}

.main {
  flex-grow: 1;
  width: 100%;
}

.portfolio {
  background-color: green;
  flex-grow: 1;
  height: 100%;
  padding: 1%;
  box-sizing: border-box;
}

.portfolio > div {
  margin-bottom: 1%;
  padding: 1%;
}

.PortfolioHead {
  gap: 2rem;
  background-color: aqua;
}

.upload-image {
  background-color: pink;
  width: 10%;
  aspect-ratio: 1;
  position: relative;
}

.image-preview {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.PortfolioHead > div:first-of-type {
  width: 40%;
  height: 100%;
  justify-content: space-around;
}

.PortfolioHead > div:first-of-type > * {
  width: 100%;
  margin-bottom: 1%;
  padding: 0.5rem;
}

.PortfolioHead > div:last-of-type {
  width: 20%;
  height: 100%;
  justify-content: space-around;
}

.PortfolioHead > div:last-of-type > input {
  width: 100%;
  margin-bottom: 1%;
  padding: 0.4rem;
}

#bio {
  resize: vertical;
}

input[type="file"] { 
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.PortfolioSegment,.PortfolioSkill {
  background-color: peru;
  position: relative;
}

.PortfolioSegment > div:first-of-type,.PortfolioSkill > p:first-of-type{
  margin-bottom: 2%;
  width: 100%;
  border-bottom: 0.1em solid black;
  font-size: 2em;
  text-align: left;
  justify-content: space-between;
}

.PortfolioSegment > div:first-of-type > p {
  max-width: 60%;
}

.PortfolioSegment > div:first-of-type > button {
  padding: 0.5rem;
}

.PortfolioTextbox {
  margin-bottom: 4%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5% 1%;
}

.PortfolioTextbox > input {
  padding: 0.5rem;
  grid-column: span 3;
}

.PortfolioTextbox > textarea {
  resize: none;
  padding: 0.5rem;
  grid-column: 1 / span 6;
}

.PortfolioTextbox > button {
  grid-column: 3 / span 2;
  width: fit-content;
  padding: 0.5rem;
  justify-self: center;
}

.PortfolioSkill > div:first-of-type {
  width: 100%;
  gap:1%;
}

.PortfolioSkill > div:first-of-type > * {
  padding: 0.5rem;
  margin-bottom: 1%;
}

.delete-skill {
  position: relative;
  left: 2rem;
  padding: 0.5rem;
}

.PortfolioSkill > div:last-of-type {
  width: 90%;
  text-align: left;
}

.PortfolioSkill > div:last-of-type > * {
  margin-bottom: 0.5%;
}